html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* Utilidades */
.container1 {

    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 2px #05fc11 ;*/
}

.boton {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.boton-primary {
    color: white;
    background-color: #214037;
}

.boton-secondary {
    color: white;
    background-color: #77A699;
}

.boton-danger {
    color: white;
    background-color: #A6464E;
}

.boton-info {
    color: black;
    background-color: #E2F2C9;
}

.boton-dark {
    color: white;
    background-color: #2F2E2E;
}

/* HEADER */
.bgn-header {
    background-image: url('../img/pantalla-codigo1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18.75em;
}

.bgn-navbar {
    background-color: rgba(0, 0, 0, 0.308);
    padding: 1.5em 0;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tumbnail {
    border-radius: 10%;
}
.cover {
    display: flex;
    width: 100vw;
    height: 100vh; /* calc(100vh - 18.75em); */
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 16px;
    padding-top: 4em;
    
}
.cover-item {
    width: 60%;
}
/* Animacion */
.animacion1 {
    animation-duration: 3s;
    animation-name: slidein1;
}
@keyframes slidein1 {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
.animacion2 {
    animation-duration: 2s;
    animation-name: slidein2;
}
@keyframes slidein2 {
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 0%;
    }
}
/* youtube responsivo */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ----------------------- */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navbarra-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 500;
}
.navbarra-brand-text {
    padding-left: 15px;
}

@media (min-width: 768px) {
    .navbarra-brand {
        flex-direction: row;
        margin-bottom: 0;
    }
}

/* Menu responsivo */
/* .navbarra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { */
    .navbarra{
        flex-direction: row;
        justify-content: space-between;
    }
}
.respmenu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    /*background: #234567;*/
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}
.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

.respmenu .fa-bars, .respmenu .fa-times {
    font-size: 32px;
    pointer-events: none;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.respmenu {
    color: white;
    position: relative;
    /* background: #123456; */
    min-height: 32px;
}

.respmenu nav {
    display: none;
}

.respmenu input:checked ~ nav {
    display: block;
}

.respmenu input:checked ~ .fa-bars  {
    display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
    display: none;
}
.navbarra-brand img {
    width: 2em;
}

.navbarra-nav {
    background-color: rgba(0, 0, 0, 0.750);
    padding: 1em;
    border-radius: 0.3em;
}

.navbarr-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.3em;
}

.navbarr-link:hover {
    background-color: white;
    color: black;
    border-radius: 0.5em;
}
@media (max-width: 768px) {
    
}

/* MAIN */
main {
    background-color: #333333;
}
.mainproyectos, .maincontacto {
    background-color: #d5d7d7;
    margin-top: -2rem;
    border-radius: 0.3em;
    padding: 0.3em;
    
}
.maincontacto {
    padding-top: 3em;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .card1 {
        grid-area: card1;
    }
    .card2 {
        grid-area: card2;
    }
    .card3 {
        grid-area: card3;
    }
    .card4 {
        grid-area: card4;
    }
    .card5 {
        grid-area: card5;
    }
    .card6 {
        grid-area: card6;
    }
    .proyectos {
        /*display: flex;
        gap: 1em;
        flex-direction: row;*/
        gap: 1em;
        display: grid;
        grid-template-columns: repeat(4 25%);
        grid-template-rows: auto;
        grid-template-areas: 
            "card1 card1 card2 card2"
            "card3 card3 card4 card4"
            "card5 card5 card6 card6"
            ;
    }
}

/* CARD */
.card {
    background-color: #5a576c;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
    margin-bottom: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
}

/* ABOUT ME */
.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #2F2E2E;
}

.aboutme-col-img {
    order: 2;
    background-image: url('../img/yo-datastore.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.aboutme-col-text {
    order: 1;
    height: 50vh;
}

@media (min-width: 576px) {
    .aboutme-col-img {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .aboutme {
        flex-direction: row;
    }

    .aboutme-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .aboutme-col-text {
        order: 2;
        flex: 1 1 0;
    }
}

.aboutme-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.aboutme-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.aboutme-body p {
    font-weight: 200;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bgn-footer {
    background-color: #214037;
    color: #E2F2C9;
}

.bgn-footer p {
    padding: 1em;
    margin: 0;
    text-align: center;
}

@media (min-width: 1024px) {
    .proyectos {
        grid-template-columns: repeat(3 33%);
        grid-template-rows: auto;
        grid-template-areas: 
        "card1 card2 card3"
        "card4 card5 card6"
        
        ;
    }
    .terna {
        display: flex;
        flex-direction: column;
    }
}